.button {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 8 16 8 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 2, 0, 0, 1);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-translate-y: 0;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 0, 2);
}

.button:pressed {
    -fx-translate-y: 1;
}
